---
- hosts: alertmanager
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - { role: alertmanager, tags: [alert] } 

- hosts: node_exporter
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - { role: prometheus_node_exporter, tags: [pnode] }

- hosts: prometheus
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - { role: prometheus, tags: [prometheus] }

- hosts: grafana
  become: yes
  become_user: root
  become_method: sudo
  roles:
    - { role: grafana, tags: [grafana] }

.

Vikranth


done


okayyyyyyyyyyyyyyyy

